{{!--

Wix Integration service for volebo.net

Copyright (C) 2016-2017 Volebo <dev@volebo.net>
Copyright (C) 2016-2017 Koryukov Maksim <maxkoryukov@gmail.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

--}}

<style wix-style>
	.vlb-widget {
		max-width: {{width}}px;
	} {{!-- --~}}

	.game-list {
		\{{style.defaultFont font_8}};
		color: \{{style.defaultColor color-5}};
	} {{!-- --~}}

	.game-list .game {
		background-color: \{{style.backgroundColor color-1}}
	} {{!-- --~}}

	.game-list .game:nth-child(even) {
		background-color: \{{style.backgroundColorAlt color-2}}
	} {{!-- --~}}

	.team-name-home {
		\{{style.homeTeamFont font_8}};
		color: \{{style.homeTeamColor color-9}};
	} {{!-- --~}}

	.team-name-away {
		\{{style.awayTeamFont font_8}};
		color: \{{style.awayTeamColor color-10}};
	} {{!-- --~}}
</style>
{{~!-- --~}}
<section class="vlb-widget">{{~!-- --~}}
	<div class="game-list">
	{{~#each games as |game|~}}
		<div class="game">{{~!-- --~}}
			<time datetime="">
				{{~formatDate game.dateFrom day="2-digit" month="2-digit" year="numeric" hour="2-digit" minute="2-digit"~}}
			</time>{{~!-- --~}}
			<span class="teams"> {{!-- --~}}
				<strong class="team-name team-name-home" {{#if game.homeTeam.fullName}}title="{{game.homeTeam.fullName}}" {{/if}}>{{game.homeTeam.shortName}}</strong> : {{!-- --~}}
				<strong class="team-name team-name-away" {{#if game.awayTeam.fullName}}title="{{game.awayTeam.fullName}}" {{/if}}>{{game.awayTeam.shortName}}</strong>{{~!-- --~}}
			</span> {{!-- --~}}
			<span class="gym">[<span class="gym-name">{{game.gym.name}}</span>] </span>{{~!-- --~}}
			{{__ "previewsWidget.referee.label"}}<span class="referee-name" {{~#if game.referee.longName~}}title="{{game.referee.longName}}" {{/if}}>
			{{~#if game.referee.shortName~}}
				{{game.referee.shortName}}
			{{~^~}}
				???
			{{~/if~}}
			</span>{{~!-- --~}}
		</div>
	{{~/each~}}
	</div>{{~!-- --~}}

	<div class="volebo-ad">
		<small>{{{__ 'volebo.ad'}}}</small>
	</div>

</section>


<script type="text/javascript">
	$(document).ready(function(){
		Wix.setHeight(document.documentElement.scrollHeight);
	});

	Wix.addEventListener(Wix.Events.SETTINGS_UPDATED, function onSettingsUpdate(update) {
{{#if debug}}
		console.debug(JSON.stringify(update));
{{/if}}
		Wix.setHeight(document.documentElement.scrollHeight);
	});
</script>
